<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibnadm.kartinilite">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.VerifyPhoneActivity"></activity>
        <activity android:name=".activities.SetNumberActivity" />
        <activity android:name=".activities.DetailReportActivity" />
        <activity android:name=".activities.LogReportActivity" />
        <activity android:name=".activities.CounselingLogActivity" />
        <activity android:name=".activities.NewCounselingActivity" />
        <activity android:name=".activities.LatestCounselingActivity" />
        <activity android:name=".activities.DetailPostActivity" />
        <activity android:name=".activities.CreatePostActivity" />
        <activity android:name=".activities.ForumActivity" />
        <activity android:name=".activities.ChatLogActivity" />
        <activity android:name=".activities.NewMessageActivity" />
        <activity android:name=".activities.LatestMessagesActivity" />
        <activity android:name=".activities.ReportActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>